.menu {
  left: 3px;
  top:  3px;
}

.iconApp {
  height: 95px;
  width:  95px;
}

#Sent{
  height    :90px;
  left      :29%;
  top       :25%;
  position  : absolute;
  transform : scale(0,0);
  transition: transform 0.10s;
}
