#Input {
  position: absolute;
  width: 180px;
  height: 20px;
  top: 0px;
  left: 15px;
  padding-top: 19px;
  padding-bottom: 0px;
  border-bottom: 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  filter: drop-shadow(0px 0px 4px #000);
  visibility: hidden;
  opacity: 0;
}

#Write {
  top: -68px;
}

#WriteSub {
  top: -74px;
}

#Cancel {
  left: 55px;
}

#Done {
  left: 125px;
}

.controlButton {
  position: absolute;
  top: 60px;
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 0px 4px #000);
  visibility: hidden;
  opacity: 0;
}

.option {
  position: relative;
  top: -30px;
  left: 17px;
  width: 65px;
  height: 65px;
  filter: drop-shadow(0px 0px 4px #000);
}

.optionSubtitle {
  position:       relative;
  top:            -34px;
  left:           17px;
  color:          white;
  font-family:    "Open Sans", sans-serif;
  text-decoration: none;
  font-weight:     400;
  text-shadow:     0px 0px 4px #000000;
}

::placeholder {
  opacity: 0.5;
}

@keyframes highlight {
  50% { background-color: rgb(230, 100, 104); }
  100% { background-color: white; }
}

@keyframes fadeAway {
  100% { opacity: 0; visibility: hidden; }
}

@keyframes appear {
  100% { opacity: 1; visibility: visible; }
}

@keyframes DictateChoosen {
  to { top: 55px; }
}

@keyframes goBackToPlace {
  to   { top: -30px; }
  100% { opacity: 1; visibility: visible; }
}
