#New_Contact {
  position: absolute;
  width:  55px;
  height: 55px;
  top:    75px;
  left:   165px;
  border-radius: 50%;
}

.iconApp {
  background-color: rgb(41, 171, 226);
  border-radius: 50%;
  width:   90px;
  height:  90px;
  opacity: 0.3s ease-in-out;
}

.iconPic {
  width:   90px;
  height:  90px;
  opacity: 0.3s ease-in-out;
}

.menu {
  left: 2px;
}

figcaption {
  padding-top: 5px;
}
