#Back_Arrow {
    width: 10pt;
    transform: rotate(-90deg);
    padding-top: 10pt;
    padding-bottom: 0pt;
    padding-right: 0pt;
}

#Clock {
    width:  1.5in;
    height: 1.5in;
    margin: auto;
    position: relative;
}

#Watch {
    display: block;
    margin: auto;
}

#Button {
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
}

#Clock_Face {
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
}

#Date {
    position: absolute;
    top: 70%;
    left: 35%;
    z-index: 2;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.hand {
    border-radius: 50%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
}

img {
    max-width: 1.5in;
    max-height: 1.5in;
}
