#Back_Arrow {
    width: 10pt;
    transform: rotate(-90deg);
    padding-top: 10pt;
    padding-bottom: 0pt;
    padding-right: 0pt;
}

#Relogio {
    background: black;
    width: 1.5in;
    height: 1.5in;
    line-height: 1.5in;
}

/*#Screen {
    background: brown;
    color: white;
    font-size: 30pt;
    width: 200pt;
    height: 200pt;
    line-height: 300pt;
}*/

.circulo {
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
}