#Back_Arrow {
    width:       10pt;
    transform:   rotate(-180deg);
}

#Clock {
    position:  absolute;
    width:     194px;
    height:    210px;
    top:       50%;
    left:      50%;
    padding:   15px;
    transform: translate(-50%,-50%);
}

#Touch_Screen {
    position:      absolute;
    width:         210px; 
    height:        210px;
    top:           12px; 
    left:          5px;
    background:    rgb(28, 41, 83);
    border-radius: 50%;
    transition: background-color 0.6s ease-in;
}

#Watch_Face {
    position:      absolute;
    width:         220px;
    top:           -1%;
    left:          -1.5%;
    border-radius: 50%;
}

#Bezel {
    position: absolute;
    width:    224px;
    top:      3%;
    left:     0%;
}

#Button {
    position: absolute;
    width:     22px;
    height:    7px;
    top:       32%;
    right:     -2%;
    z-index:   1;
    transform: rotate(70deg);
}

#Date {
    position:    absolute;
    top:         70%;
    left:        37%;
    font-family: "Open Sans", sans-serif;
    font-size:   12px;
}

.hand {
    position:      absolute;
    width:         220px;
    top:           -1%;
    left:          -2%;
    border-radius: 50%;
}