#Clock{
    overflow: hidden;
    clip-path: inset(7px 0px 13px 0px);
}

#sosconfirm{
    position:       absolute;
    top:            163px;
    left:           0px;
    pointer-events: none;
}

#Table {
    border-collapse: separate;
    border-spacing:  53px 46px;
}

#Back {
    position: absolute;
    height:   55px;
    top:      80px;
    left:     0px;
    filter: drop-shadow(0px 0px 4px #000);
}

#Progress_Circles {
    position: absolute;
    height:   40px;
    top:      88px;
    left:     191px;
}

#Bezel {
    pointer-events: none;
}

.menu {
    position:    relative;
    width:       212px;
    height:      212px;
    top:         0px;
    left:        -2px;
    cursor:      pointer;
    overflow:    auto;
    white-space: nowrap;
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.iconApp {
    height: 100px;
}
.iconApp:active {
    animation: boing 300ms ease-in-out;
}


.appSubtitle {
    position:       relative;
    top:            -6px;
    left:           0px;
    color:          white;
    font-family:    "Open Sans", sans-serif;
    text-decoration: none;
    font-weight:     400;
    text-shadow:     0px 0px 4px #000000;
    pointer-events:  none;
}

.Floater:active{
    animation: boing 300ms ease-in-out;
}

@keyframes boing {
    15%, 40%, 75%, 100% {
        transform-origin: center center;
    }
    15% {
        transform: scale(1.2, 1.1);
    }
    40% {
        transform: scale(0.95, 0.95);
    }
    75% {
        transform: scale(1.05, 1);
    }
    100% {
        transform: scale(1, 1);
    }
}

