#Clock{
    position:  absolute;
    width:     194px;
    top:       50%;
    left:      50%;
    padding:   15px;
    overflow:  hidden;
    transform: translate(-50%,-50%);
}

#Background_Circle{ 
    position:      absolute;
    width:         210px; 
    height:        210px;
    top:           12px; 
    left:          5px;
    background:    rgb(28, 41, 83);
    border-radius: 50%;
}

#Table {
    border-collapse: separate;
    border-spacing:  43px 45px; 
}

#Back {
    position: absolute; 
    height:   70px;
    top:      80px;
    left:     0px;
}

#Progress_Circles {
    position: absolute; 
    height:   30px;
    top:      100px;
    left:     198px;
}

#Bezel {
    position:       absolute; 
    height:         220px;
    top:            8px;
    left:           0px;
    pointer-events: none;    

}

.menu {
    position:    relative;
    width:       212px;
    height:      212px;
    top:         0px;
    left:        -2px;
    cursor:      pointer;
    overflow:    auto;
    white-space: nowrap;
}

.menu::-webkit-scrollbar { 
    display: none; 
}

.menu.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.iconApp {
    height: 100px;
}

.appSubtitle {
    position:       relative;
    top:            -10px;
    left:           0px;
    color:          white;
    font-family:    "Open Sans", sans-serif;
    text-decoration: none;
    font-weight:     400;
    text-shadow:     0px 0px 4px #000000;
    pointer-events:  none; 
}