#LookAt {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 3%;
  margin-top: 3%;
}

#Self {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 3%;
  margin-top: 3%;
}

#Arrow {
  position: absolute;
  width: 120px;
  height: 120px;
  margin-left: 22%;
  margin-top: 22%;
}

#Marker {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 47%;
  margin-top: 47%;
}

#TextBoxes {
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 5%;
  margin-top: 5%;
}

#Map {
  position: absolute;
  width: 400px;
  height: 400px;

}

#Target {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size:   20px;
  top: 10%;
  left: 34%;
  text-align: center;
}

#Distance {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size:   16px;
  top: 83%;
  left: 43%;
  text-align: center;
}
